{% extends 'base.html' %}
    {% block content %}
        <!-- Main Content-->
        <form method="post" action="/medicine">
          <center>
          <h2>찾고 싶은 의약품을 검색해보세요!</h2>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="check_query" id="inlineRadio1" value="1" checked>
            <label class="form-check-label" for="inlineRadio1">회사명</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="check_query" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">제품명</label>
      </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="check_query" id="inlineRadio2" value="3">
          <label class="form-check-label" for="inlineRadio2">효능</label>
      </div>
          <input name="search" style="margin-bottom:10px" class="form-control" type="text" placeholder="검색">
          <input type="submit" class="btn btn-primary" value="찾기"/>
          </center>
        </form>
        <main class="mb-4">
          {% if medicine_list %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">회사명</th>
                <th scope="col">제품명</th>
                <th scope="col">효능</th>
                <th scope="col">사용법</th>                
              </tr>
            </thead>
            <tbody>
              {% for medicine in medicine_list %}
              <tr>
                  <td>{{ medicine.entpname }}</td>
                  <td>{{ medicine.itemname }}</td>
                  <td>{{ medicine.efcyqesitm }}</td>
                  <td>{{ medicine.usemethodqesitm }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}   
        </main>
    {% endblock content %}